# Ignore build folders
/Builds/
/Builds
/bin
/build
/JuceLibraryCode/

.idea/
/.vscode/
/.vs/

.DS_Store
Thumbs.db

*.log
*.bak
*.swp

*.exe
*.app
*.dll
*.so

/JuceLibraryCode/build/

# Visual Studio build files and IDE settings
Builds/VisualStudio2022/.vs/
Builds/VisualStudio2022/x64/Debug/
Builds/VisualStudio2022/*.vcxproj.user
Builds/VisualStudio2022/*.filters
Builds/VisualStudio2022/*.sln
Builds/VisualStudio2022/*.log
Builds/VisualStudio2022/*.tlog/
Builds/VisualStudio2022/*.ipch/
Builds/VisualStudio2022/*.ilk
Builds/VisualStudio2022/*.pdb
Builds/VisualStudio2022/*.res
Builds/VisualStudio2022/vcpkg.applocal.loggit 
git